FORMAT: 1A
HOST: http://padex.com/api/v1

# PADAPI

PADAPI is a simple API allowing for the retrieval of all information related to the game Puzzle and Dragons.

## Leader Skill [/leader_skill/thin/{leader_skill_id}]

### View a Thin Leader Skill [GET]

+ Parameters
    + leader_skill_id (integer) - ID of an Leader Skill

+ Response 200 (application/json)

        {
            "id": 2169,
            "name": "Eternal Dragon Pact - Fragrem",
            "effect": "Light attribute cards HP x2, ATK x2.5. Light attribute cards ATK x1.3 on the turn a skill is used. ( Multiple skills will not stack )",
            "original_effect": "2x HP & 2.5x ATK for Light Att.; ATK increases slightly for Light Att. when skills used"
        }

<!---
### View all Thin Leader Skill [GET /leader_skill/thin/{?offset,limit}]
    
+ Parameters
    + offset (integer, optional) - ID of the first Leader Skill to be returned
        + Default: 0
    + limit (integer, optional) - Number of Leader Skill to return
        + Default: 10 
    
+ Response 200 (application/json)

        {
            "leader_skills": [
                {
                    "id": 2169,
                    "name": "Eternal Dragon Pact - Fragrem",
                    "effect": "Light attribute cards HP x2, ATK x2.5. Light attribute cards ATK x1.3 on the turn a skill is used. ( Multiple skills will not stack )",
                    "original_effect": "2x HP & 2.5x ATK for Light Att.; ATK increases slightly for Light Att. when skills used"
                }, 
                {
                    "id": 2206,
                    "name": "Mechanical Light Star of Gemini",
                    "effect": "Matched attribute ATK x4 when matching exactly 5 connected orbs with at least 1 enhanced orb. 30% Fire, Water, Wood & Dark damage reduction.",
                    "original_effect": "4x ATK for Att. erasing 5 Orbs with 1+ enhanced; reduces damage from non-Light Att. enemies"
                },
                {
                    "id": 1829,
                    "name": "Scarlet Talisman",
                    "effect": "ATK x2.5 when attacking with Fire & Light orb types at the same time. Matched attribute ATK x2.5 when matching exactly 5 connected orbs with at least 1 enhanced orb.",
                    "original_effect": "2.5x ATK when Fire & Light attack at once; 2.5x ATK for Att. erasing 5 Orbs including enhanced"
                }
            ],
            "total_leader_skills": 10
        }
--->

### View a Leader Skill [GET /leader_skill/{leader_skill_id}]

+ Parameters
    + leader_skill_id (integer) - ID of an Leader Skill

+ Response 200 (application/json)

        {
            "id": 2169,
            "name": "Eternal Dragon Pact - Fragrem",
            "effect": "Light attribute cards HP x2, ATK x2.5. Light attribute cards ATK x1.3 on the turn a skill is used. ( Multiple skills will not stack )",
            "original_effect": "2x HP & 2.5x ATK for Light Att.; ATK increases slightly for Light Att. when skills used",
            "owned_by_monsters": [
                2440,
                2441
            ]
        }

<!---
### View all Leader Skill [GET /leader_skill/{?offset,limit}]
    
+ Parameters
    + offset (integer, optional) - ID of the first Leader Skill to be returned
        + Default: 0
    + limit (integer, optional) - Number of Leader Skill to return
        + Default: 10 
    
+ Response 200 (application/json)

        {
            "leader_skills": [
                {
                    "id": 2169,
                    "name": "Eternal Dragon Pact - Fragrem",
                    "effect": "Light attribute cards HP x2, ATK x2.5. Light attribute cards ATK x1.3 on the turn a skill is used. ( Multiple skills will not stack )",
                    "original_effect": "2x HP & 2.5x ATK for Light Att.; ATK increases slightly for Light Att. when skills used",
                    "owned_by_monsters": [
                        2440,
                        2441
                    ]
                }, 
                {
                    "id": 2206,
                    "name": "Mechanical Light Star of Gemini",
                    "effect": " Matched attribute ATK x4 when matching exactly 5 connected orbs with at least 1 enhanced orb. 30% Fire, Water, Wood & Dark damage reduction.",
                    "original_effect": "4x ATK for Att. erasing 5 Orbs with 1+ enhanced; reduces damage from non-Light Att. enemies",
                    "owned_by_monsters": [
                        2421,
                        2422
                    ]
                },
                {
                    "id": 1829,
                    "name": "Scarlet Talisman",
                    "effect": "ATK x2.5 when attacking with Fire & Light orb types at the same time. Matched attribute ATK x2.5 when matching exactly 5 connected orbs with at least 1 enhanced orb.",
                    "original_effect": "2.5x ATK when Fire & Light attack at once; 2.5x ATK for Att. erasing 5 Orbs including enhanced",
                    "owned_by_monsters": [
                        2141,
                        2142
                    ]
                }
            ],
            "total_leader_skills": 10
        }
--->

## Active Skill [/active_skill/thin/{active_skill_id}]

+ Parameters
    + active_skill_id (integer) - ID of an Active Skill

### View a Thin Active Skill [GET]

+ Response 200 (application/json)

        {
            "id": 1567,
            "name": "Shine Flare Ring",
            "effect": "Changes Orbs to Fire, Light & Heal Orbs; other allies' skills charged by 1 turn",
            "max_cd": "15 Turns",
            "min_cd": "10 Turns after max upgraded",
            "max_lvl": "6"
        }

<!---
### View all Thin Active Skill [GET /active_skill/thin/{?offset,limit}]
    
+ Parameters
    + offset (integer, optional) - ID of the first Active Skill to be returned
        + Default: 0
    + limit (integer, optional) - Number of Active Skill to return
        + Default: 10 
    
+ Response 200 (application/json)

        {
            "active_skills": [
                {
                    "id": 1320,
                    "name": "Dimension Formation - Scarlet Sun",
                    "effect": "Randomly spawn 3 Fire & Light orbs from non Fire & Light orbs. Reduces cooldown of other skills by 1 turn.",
                    "original_effect": "Creates 3 Fire and Light Orbs each at random; other allies' skills charged by 1 turn",
                    "max_cd": 12,
                    "min_cd": 7,
                    "max_lvl": 6
                }, 
                {
                    "id": 1567,
                    "name": "Shine Flare Ring",
                    "effect": "Change all orbs to Fire, Light & Heart orbs. Reduces cooldown of other skills by 1 turn.",
                    "original_effect": "Changes Orbs to Fire, Light & Heal Orbs; other allies' skills charged by 1 turn",
                    "max_cd": 15,
                    "min_cd": 10,
                    "max_lvl": 6
                },
                {
                    "id": 1583,
                    "name": "Astrocharge - Light",
                    "effect": "Change Heart, Jammer, Poison & Mortal Poison orbs to Light orbs. Reduces cooldown of other skills by 1 turn.",
                    "original_effect": "Changes Jammers, Poison & Heal Orbs to Light Orbs; other allies' skills charged by 1 turn",
                    "max_cd": 12,
                    "min_cd": 7,
                    "max_lvl": 6
                }
            ],
            "total_active_skills": 10
        }
--->

### View an Active Skill [GET /active_skill/{active_skill_id}]

+ Parameters
    + active_skill_id (integer) - ID of an Active Skill

+ Response 200 (application/json)

        {
            "id": 1567,
            "name": "Shine Flare Ring",
            "effect": "Change all orbs to Fire, Light & Heart orbs. Reduces cooldown of other skills by 1 turn.",
            "original_effect": "Changes Orbs to Fire, Light & Heal Orbs; other allies' skills charged by 1 turn",
            "max_cd": 15,
            "min_cd": 10,
            "max_lvl": 6,
            "owned_by_monsters": [
                430,
                2440,
                2441
            ]
        }

<!---
### View all Active Skill [GET /active_skill/{?offset,limit}]

+ Parameters
    + offset (integer, optional) - ID of the first Active Skill to be returned
        + Default: 0
    + limit (integer, optional) - Number of Active Skill to return
        + Default: 10
        
+ Response 200 (application/json)

        {
            "active_skills": [
                {
                    "id": 1320,
                    "name": "Dimension Formation - Scarlet Sun",
                    "effect": "Randomly spawn 3 Fire & Light orbs from non Fire & Light orbs. Reduces cooldown of other skills by 1 turn.",
                    "original_effect": "Creates 3 Fire and Light Orbs each at random; other allies' skills charged by 1 turn",
                    "max_cd": 12,
                    "min_cd": 7,
                    "max_lvl": 6,
                    "owned_by_monsters": [
                        1176,
                        2141,
                        2142
                    ]
                }, 
                {
                    "id": 1567,
                    "name": "Shine Flare Ring",
                    "effect": "Change all orbs to Fire, Light & Heart orbs. Reduces cooldown of other skills by 1 turn.",
                    "original_effect": "Changes Orbs to Fire, Light & Heal Orbs; other allies' skills charged by 1 turn",
                    "max_cd": 15,
                    "min_cd": 10,
                    "max_lvl": 6,
                    "owned_by_monsters": [
                        430,
                        2440,
                        2441
                    ]
                },
                {
                    "id": 1583,
                    "name": "Astrocharge - Light",
                    "effect": "Change Heart, Jammer, Poison & Mortal Poison orbs to Light orbs. Reduces cooldown of other skills by 1 turn.",
                    "original_effect": "Changes Jammers, Poison & Heal Orbs to Light Orbs; other allies' skills charged by 1 turn",
                    "max_cd": 12,
                    "min_cd": 7,
                    "max_lvl": 6,
                    "owned_by_monsters": [
                        2421,
                        2422,
                        2645
                    ]
                }
            ],
            "total_active_skills": 10
        }
--->

## Awoken Skill [/awoken_skill/thin/{awoken_skill_id}]

### View a Thin Awoken Skill [GET]

+ Parameters
    + awoken_skill_id (integer) - ID of an Awoken Skill

+ Response 200 (application/json)

    {
        "id": 29,
        "name": "Two-Pronged Attack",
        "description": "Eliminating exactly 4 connected orbs of the same color for 1.5x ATK on 2 enemies",
        "img": "/api/awoken_skill/img/29.png"
    }

<!---
### View all Thin Awoken Skill [GET /awoken_skill/thin/{?offset,limit}]
    
+ Parameters
    + offset (integer, optional) - ID of the first Awoken Skill to be returned
        + Default: 0
    + limit (integer, optional) - Number of Awoken Skill to return
        + Default: 10 

+ Response 200 (application/json)

        {
            "awoken_skills": [
                {
                    "id": 23,
                    "name": "Skill Boost",
                    "effect": "The entire team starts with 1 turn worth of skills charged",
                    "img": "/img/23.png"
                },
                {
                    "id": 24,
                    "name": "Enhanced Fire Attribute",
                    "effect": "Eliminating 1 row of fire orbs will increase your fire damage by 10%",
                    "img": "/img/24.png"
                },
                {
                    "id": 29,
                    "name": "Two-Pronged Attack",
                    "effect": "Eliminating exactly 4 connected orbs of the same color for 1.5x ATK on 2 enemies",
                    "img": "/img/29.png"
                }
            ],
            "total_awoken_skills": 10
        }
--->

### View an Awoken Skill [GET /awoken_skill/{awoken_skill_id}]

+ Parameters
    + awoken_skill_id (integer) - ID of an Awoken Skill

+ Response 200 (application/json)

{
    "id": 29,
    "name": "Two-Pronged Attack",
    "description": "Eliminating exactly 4 connected orbs of the same color for 1.5x ATK on 2 enemies",
    "img": "/api/awoken_skill/img/29.png",
    "owned_by_monsters": [
        2893,
        2831,
        2824,
        2820,
        2819,
        2815,
        2813,
        2812,
        2818,
        2811,
        2810,
        2808,
        2800,
        2777,
        2771,
        2767,
        2769,
        2768,
        2764,
        2765,
        2762,
        2751,
        2750,
        2749,
        2748,
        2747,
        2746,
        2745,
        2743,
        2742,
        2741,
        2739,
        2731,
        2718,
        2722,
        2716,
        2714,
        2703,
        2697,
        2683,
        2677,
        2676,
        2672,
        2663,
        2660,
        2658,
        2661,
        2641,
        2639,
        2620,
        2608,
        2596,
        2595,
        2594,
        2569,
        2568,
        2565,
        2553,
        2541,
        2539,
        2538,
        2532,
        2531,
        2534,
        2530,
        2529,
        2528,
        2526,
        2514,
        2511,
        2510,
        2509,
        2502,
        2497,
        2496,
        2495,
        2494,
        2493,
        2479,
        2469,
        2467,
        2459,
        2458,
        2453,
        2449,
        2443,
        2444,
        2441,
        2412,
        2410,
        2409,
        2407,
        2402,
        2396,
        2398,
        2393,
        2389,
        2392,
        2394,
        2390,
        2385,
        2384,
        2386,
        2372,
        2370,
        2368,
        2366,
        2362,
        2360,
        2359,
        2357,
        2346,
        2343,
        2344,
        2340,
        2342,
        2328,
        2324,
        2326,
        2322,
        2323,
        2321,
        2320,
        2318,
        2316,
        2315,
        2314,
        2292,
        2291,
        2290,
        2288,
        2289,
        2287,
        2282,
        2281,
        2279,
        2271,
        2259,
        2252,
        2253,
        2249,
        2248,
        2246,
        2247,
        2240,
        2239,
        2238,
        2235,
        2237,
        2236,
        2232,
        2227,
        2226,
        2221,
        2218,
        2217,
        2194,
        2193,
        2192,
        2191,
        2190,
        2182,
        2168,
        2163,
        2162,
        2150,
        2148,
        2146,
        2136,
        2134,
        2133,
        2126,
        2122,
        2121,
        2107,
        2104,
        2102,
        2098,
        2100,
        2096,
        2094,
        2087,
        2088,
        2086,
        2083,
        2082,
        2081,
        2077,
        2078,
        2076,
        2075,
        2070,
        2057,
        2056,
        2050,
        2048,
        2046,
        2038,
        2034,
        2032,
        2030,
        2020,
        2021,
        2017,
        2015,
        2016,
        2014,
        2009,
        2008,
        2011,
        1983,
        1980,
        1979,
        1977,
        1973,
        1971,
        1968,
        1969,
        1956,
        1955,
        1954,
        1953,
        1951,
        1949,
        1945,
        1941,
        1938,
        1939,
        1937,
        1936,
        1928,
        1925,
        1923,
        1921,
        1920,
        1919,
        1906,
        1904,
        1902,
        1899,
        1897,
        1889,
        1887,
        1888,
        1885,
        1884,
        1883,
        1882,
        1881,
        1877,
        1871,
        1867,
        1865,
        1861,
        1857,
        1848,
        1847,
        1843,
        1842,
        1841,
        1837,
        1840,
        1833,
        1831,
        1802,
        1798,
        1796,
        1792,
        1791,
        1784,
        1785,
        1748,
        1747,
        1743,
        1741,
        1738,
        1744,
        1729,
        1731,
        1730,
        1727,
        1726,
        1725,
        1723,
        1721,
        1728,
        1712,
        1711,
        1707,
        1686,
        1684,
        1680,
        1678,
        1676,
        1674,
        1672,
        1670,
        1664,
        1662,
        1658,
        1656,
        1654,
        1652,
        1650,
        1627,
        1623,
        1621,
        1617,
        1619,
        1615,
        1613,
        1612,
        1608,
        1606,
        1604,
        1602,
        1590,
        1586,
        1571,
        1564,
        1562,
        1561,
        1560,
        1559,
        1557,
        1556,
        1554,
        1558,
        1555,
        1536,
        1532,
        1525,
        1517,
        1516,
        1510,
        1507,
        1505,
        1500,
        1503,
        1501,
        1494,
        1496,
        1476,
        1473,
        1472,
        1465,
        1447,
        1443,
        1439,
        1433,
        1427,
        1425,
        1422,
        1421,
        1419,
        1417,
        1411,
        1409,
        1405,
        1403,
        1399,
        1397,
        1375,
        1373,
        1371,
        1364,
        1363,
        1360,
        1358,
        1350,
        1343,
        1342,
        1339,
        1337,
        1335,
        1304,
        1305,
        1302,
        1303,
        1301,
        1297,
        1299,
        1271,
        1270,
        1269,
        1267,
        1265,
        1263,
        1227,
        1225,
        1216,
        1215,
        1209,
        1207,
        1203,
        1201,
        1206,
        1200,
        1195,
        1194,
        1193,
        1192,
        1191,
        1155,
        1151,
        1153,
        1143,
        1145,
        1141,
        1137,
        1139,
        1129,
        1123,
        1111,
        1116,
        1110,
        1109,
        1096,
        1095,
        1060,
        1052,
        1024,
        1020,
        1010,
        986,
        985,
        984,
        982,
        987,
        983,
        972,
        973,
        951,
        933,
        917,
        918,
        892,
        891,
        893,
        889,
        826,
        825,
        824,
        823,
        822,
        806,
        802,
        765,
        763,
        767,
        756,
        755,
        734,
        733,
        732,
        706,
        696,
        683,
        680,
        674,
        649,
        629,
        606,
        576,
        574,
        572,
        568,
        564,
        562,
        558,
        560,
        556,
        533,
        527,
        512,
        460,
        446,
        395,
        394,
        387,
        385,
        383,
        381,
        379,
        241,
        233,
        232,
        230,
        229,
        231,
        190,
        137,
        135,
        133,
        129
    ]
}

<!---
### View all Awoken Skill [GET /awoken_skill/{?offset,limit}]
    
+ Parameters
    + offset (integer, optional) - ID of the first Awoken Skill to be returned
        + Default: 0
    + limit (integer, optional) - Number of Awoken Skill to return
        + Default: 10 

+ Response 200 (application/json)

        {
            "awoken_skills": [
                {
                    "id": 23,
                    "name": "Skill Boost",
                    "effect": "The entire team starts with 1 turn worth of skills charged",
                    "img": "/img/23.png",
                    "owned_by_monsters": [
                        394,
                        395,
                        1928
                    ]
                },
                {
                    "id": 24,
                    "name": "Enhanced Fire Attribute",
                    "effect": "Eliminating 1 row of fire orbs will increase your fire damage by 10%",
                    "img": "/img/24.png",
                    "owned_by_monsters": [
                        652,
                        1344,
                        2392
                    ]
                },
                {
                    "id": 29,
                    "name": "Two-Pronged Attack",
                    "effect": "Eliminating exactly 4 connected orbs of the same color for 1.5x ATK on 2 enemies",
                    "img": "/img/29.png",
                    "owned_by_monsters": [
                        1727,
                        1728,
                        1729,
                        1730
                    ]
                }
            ],
            "total_awoken_skills": 10
        }
--->

## Monster Series [/monster_series/thin/{monster_series_id}]

### View a Thin Monster Series [GET]

+ Parameters
    + monster_series_id (integer) - ID of an Monster Series

+ Response 200 (application/json)

        {
            "id": 54,
            "name": "God Fest. Exclusive God"
        }

<!---
### View all Thin Monster Series [GET /monster_series/thin/{?offset,limit}]

+ Parameters
    + offset (integer, optional) - ID of the first Monster Series to be returned
        + Default: 0
    + limit (integer, optional) - Number of Monster Series to return
        + Default: 10 

+ Response 200 (application/json)

        {
            "monster_series": [
                {
                    "id": 54,
                    "name": "God Fest. Exclusive"
                },
                {
                    "id": 55,
                    "name": "Japanese Mythology"
                },
                {
                    "id": 56,
                    "name": "Stone Dragon"
                }
            ],
            "total_monster_series": 10
        }
--->

### View a Monster Series [GET /monster_series/{monster_series_id}]

+ Parameters
    + monster_series_id (integer) - ID of an Monster Series

+ Response 200 (application/json)

        {
            "id": 54,
            "name": "God Fest. Exclusive God",
            "monsters_in_series": [
                362,
                363,
                364,
                365,
                640,
                641,
                642,
                643,
                911,
                912,
                913,
                914,
                1088,
                1089,
                1107,
                1108,
                1217,
                1359,
                1360,
                1423,
                1585,
                1586,
                1587,
                1588,
                1644,
                1645,
                1669,
                1670,
                1671,
                1672,
                1673,
                1674,
                1747,
                1925,
                1946,
                1947,
                1948,
                1949,
                1950,
                1951,
                1952,
                1953,
                2078,
                2141,
                2142,
                2143,
                2144,
                2145,
                2146,
                2147,
                2148,
                2149,
                2150,
                2179,
                2390,
                2440,
                2441,
                2442,
                2443,
                2508,
                2509,
                2562,
                2563,
                2564,
                2565,
                2566,
                2567,
                2591,
                2592,
                2640,
                2641,
                2663,
                2710,
                2711,
                2712,
                2713,
                2714,
                2744,
                2745,
                2746
            ]
        }

<!---
### View all Monster Series [GET /monster_series/{?offset,limit}]

+ Parameters
    + offset (integer, optional) - ID of the first Monster Series to be returned
        + Default: 0
    + limit (integer, optional) - Number of Monster Series to return
        + Default: 10 

+ Response 200 (application/json)

        {
            "monster_series": [
                {
                    "id": 54,
                    "name": "God Fest. Exclusive",
                    "monsters_in_series": [
                        2714,
                        2744,
                        2745
                    ]
                },
                {
                    "id": 55,
                    "name": "Japanese Mythology",
                    "monsters_in_series": [
                        717,
                        718,
                        777
                    ]
                },
                {
                    "id": 56,
                    "name": "Stone Dragon",
                    "monster_series": [
                        737,
                        738,
                        739
                    ]
                }
            ],
            "total_monster_series": 10
        }
--->

## Type [/type/thin/{type_id}]

### View a Thin Type [GET]

+ Parameters
    + type_id (integer) - ID of a Type

+ Response 200 (application/json)

        {
            "id": 5,
            "name": "Attacker"
        }

<!---
### View all Thin Type [GET /type/thin/{?offset,limit}]

+ Parameters
    + offset (integer, optional) - ID of the first Type to be returned
        + Default: 0
    + limit (integer, optional) - Number of Type to return
        + Default: 10 

+ Response 200 (application/json)

        {
            "types": [
                {
                    "id": 5,
                    "name": "Attacker"
                },
                {
                    "id": 6,
                    "name": "God"
                },
                {
                    "id": 7,
                    "name": "Evo Material"
                }
            ],
            "total_types": 10
        }
--->

### View a Type [GET /type/{type_id}]

+ Parameters
    + type_id (integer) - ID of a Type

+ Response 200 (application/json)
        {
            "id": 5,
            "name": "Attacker",
            "primary_type_owned_by": [
                56,
                57,
                58,
                59,
                60,
                61,
                191,
                192,
                193,
                194,
                195,
                196,
                197,
                198,
                199,
                200,
                262,
                263,
                264,
                265,
                266,
                267,
                268,
                269,
                270,
                271,
                272,
                273,
                378,
                379,
                380,
                381,
                382,
                383,
                384,
                385,
                386,
                387,
                398,
                399,
                400,
                401,
                402,
                403,
                404,
                405,
                406,
                407,
                437,
                438,
                455,
                456,
                461,
                462,
                475,
                476,
                477,
                478,
                479,
                486,
                487,
                526,
                527,
                532,
                533,
                545,
                546,
                547,
                548,
                549,
                550,
                551,
                552,
                553,
                554,
                559,
                560,
                563,
                564,
                579,
                580,
                587,
                588,
                607,
                608,
                662,
                663,
                677,
                678,
                684,
                689,
                690,
                691,
                695,
                696,
                697,
                698,
                699,
                700,
                701,
                702,
                703,
                704,
                705,
                706,
                724,
                725,
                732,
                766,
                767,
                787,
                788,
                836,
                837,
                844,
                845,
                854,
                855,
                924,
                925,
                932,
                933,
                936,
                937,
                948,
                949,
                958,
                959,
                991,
                1011,
                1012,
                1025,
                1026,
                1039,
                1040,
                1047,
                1048,
                1051,
                1052,
                1063,
                1064,
                1105,
                1156,
                1157,
                1193,
                1195,
                1200,
                1201,
                1202,
                1203,
                1210,
                1212,
                1214,
                1282,
                1283,
                1301,
                1302,
                1303,
                1304,
                1305,
                1312,
                1313,
                1384,
                1385,
                1392,
                1398,
                1399,
                1400,
                1401,
                1408,
                1409,
                1416,
                1417,
                1434,
                1435,
                1446,
                1447,
                1450,
                1451,
                1452,
                1453,
                1477,
                1478,
                1530,
                1534,
                1560,
                1561,
                1565,
                1566,
                1572,
                1605,
                1606,
                1614,
                1615,
                1616,
                1617,
                1618,
                1619,
                1634,
                1635,
                1636,
                1637,
                1649,
                1650,
                1675,
                1676,
                1683,
                1684,
                1687,
                1688,
                1695,
                1696,
                1710,
                1711,
                1718,
                1719,
                1749,
                1750,
                1755,
                1756,
                1784,
                1801,
                1802,
                1850,
                1851,
                1852,
                1853,
                1854,
                1855,
                1866,
                1867,
                1870,
                1871,
                1876,
                1877,
                1881,
                1882,
                1883,
                1884,
                1885,
                1904,
                1918,
                1937,
                1938,
                1940,
                1941,
                1942,
                1954,
                1980,
                1982,
                1983,
                2017,
                2029,
                2030,
                2031,
                2032,
                2033,
                2034,
                2037,
                2038,
                2039,
                2040,
                2049,
                2050,
                2057,
                2093,
                2094,
                2095,
                2096,
                2097,
                2098,
                2099,
                2100,
                2101,
                2102,
                2106,
                2107,
                2112,
                2113,
                2116,
                2117,
                2135,
                2136,
                2181,
                2182,
                2227,
                2240,
                2304,
                2305,
                2318,
                2326,
                2327,
                2328,
                2339,
                2340,
                2353,
                2354,
                2355,
                2356,
                2357,
                2358,
                2359,
                2360,
                2377,
                2378,
                2392,
                2409,
                2426,
                2427,
                2448,
                2449,
                2457,
                2458,
                2459,
                2462,
                2463,
                2466,
                2467,
                2468,
                2469,
                2470,
                2471,
                2474,
                2475,
                2476,
                2477,
                2478,
                2479,
                2522,
                2538,
                2601,
                2602,
                2603,
                2604,
                2607,
                2608,
                2609,
                2610,
                2613,
                2614,
                2619,
                2620,
                2621,
                2622,
                2625,
                2626,
                2627,
                2628,
                2629,
                2630,
                2665,
                2666,
                2686,
                2687,
                2694,
                2695,
                2696,
                2697,
                2698,
                2699,
                2702,
                2703,
                2704,
                2728,
                2729,
                2749,
                2751,
                2764,
                2765,
                2767,
                2768,
                2769,
                2772,
                2773,
                2774,
                2775,
                2776,
                2777,
                2778,
                2779,
                2780,
                2786,
                2802,
                2812,
                2815,
                2818,
                2821,
                2824,
                2825,
                2828,
                2829,
                2837,
                2838
            ],
            "secondary_type_owned_by": [
                322,
                326,
                339,
                541,
                542,
                544,
                642,
                643,
                645,
                652,
                707,
                708,
                709,
                710,
                711,
                712,
                713,
                714,
                719,
                756,
                757,
                772,
                773,
                774,
                775,
                776,
                843,
                889,
                989,
                995,
                1001,
                1090,
                1108,
                1111,
                1129,
                1204,
                1205,
                1220,
                1222,
                1223,
                1231,
                1232,
                1235,
                1236,
                1255,
                1260,
                1261,
                1263,
                1296,
                1347,
                1364,
                1371,
                1372,
                1373,
                1422,
                1424,
                1425,
                1510,
                1511,
                1512,
                1513,
                1514,
                1515,
                1525,
                1532,
                1553,
                1556,
                1557,
                1644,
                1670,
                1712,
                1714,
                1715,
                1721,
                1724,
                1738,
                1739,
                1742,
                1743,
                1748,
                1791,
                1811,
                1812,
                1815,
                1816,
                1826,
                1827,
                1832,
                1833,
                1841,
                1849,
                1859,
                1861,
                1863,
                1879,
                1919,
                1951,
                1973,
                2014,
                2015,
                2073,
                2074,
                2075,
                2081,
                2105,
                2130,
                2132,
                2146,
                2149,
                2150,
                2168,
                2179,
                2193,
                2226,
                2236,
                2237,
                2238,
                2247,
                2264,
                2265,
                2268,
                2269,
                2282,
                2286,
                2287,
                2289,
                2316,
                2320,
                2384,
                2394,
                2395,
                2398,
                2429,
                2430,
                2443,
                2444,
                2445,
                2461,
                2493,
                2496,
                2500,
                2506,
                2509,
                2514,
                2537,
                2568,
                2574,
                2596,
                2606,
                2616,
                2624,
                2641,
                2663,
                2722,
                2738,
                2747,
                2748,
                2750,
                2766,
                2782,
                2800,
                2803,
                2805,
                2811
            ],
            "ternary_type_owned_by": [
                1473,
                1727,
                1728,
                1729,
                1730,
                2280,
                2499,
                2503,
                2657,
                2810
            ]
        }

<!---
### View all Type [GET /type/{?offset,limit}]

+ Parameters
    + offset (integer, optional) - ID of the first Type to be returned
        + Default: 0
    + limit (integer, optional) - Number of Type to return
        + Default: 10 

+ Response 200 (application/json)

        {
            "types": [
                {
                    "id": 5,
                    "name": "Attacker",
                    "primary_type_owned_by": [
                        2812,
                        2815,
                        2818
    
                    ],
                    "secondary_type_owned_by": [
                        2747,
                        2748,
                        2750
    
                    ],
                    "ternary_type_owned_by": [
                        1473,
                        1727,
                        1728
    
                    ]
                },
                {
                    "id": 6,
                    "name": "God",
                    "primary_type_owned_by": [
                        2742,
                        2752,
                        2790
    
                    ],
                    "secondary_type_owned_by": [
                        2700,
                        2701,
                        2702
    
                    ],
                    "ternary_type_owned_by": [
                        535,
                        1206,
                        2127
    
                    ]
                },
                {
                    "id": 7,
                    "name": "Evo Material",
                    "primary_type_owned_by": [
                        1085,
                        1086,
                        1087
    
                    ],
                    "secondary_type_owned_by": [],
                    "ternary_type_owned_by": []
                }
            ],
            "total_types": 10
        }
--->

## Element [/element/thin/{element_id}]

### View a Thin Element [GET]

+ Parameters
    + element_id (integer) - ID of a Element

+ Response 200 (application/json)

        {
            "id": 1, 
            "name": "Fire"
        }

<!---
### View all Thin Element [GET /element/thin/{?offset,limit}]

+ Parameters
    + offset (integer, optional) - ID of the first Element to be returned
        + Default: 0
    + limit (integer, optional) - Number of Element to return
        + Default: 10 

+ Response 200 (application/json)

        {
            "element": [
                {
                    "id": 1,
                    "name": "Fire"
                },
                {
                    "id": 2,
                    "name": "Water"
                },
                {
                    "id": 3,
                    "name": "Wood"
                }
            ],
            "total_element": 5
        }
--->

### View a Element [GET /type/{element_id}]

+ Parameters
    + element_id (integer) - ID of a Element

+ Response 200 (application/json)

        {
            "id": 1,
            "name": "Fire",
            "primary_element_owned_by": [
                1,
                2,
                3,
                4,
                21,
                22,
                23,
                36,
                37,
                46,
                47,
                56,
                57,
                62,
                63,
                68,
                69,
                78,
                79,
                88,
                89,
                98,
                99,
                106,
                107,
                112,
                113,
                122,
                123,
                132,
                133,
                142,
                147,
                155,
                161,
                166,
                171,
                182,
                191,
                192,
                201,
                206,
                211,
                216,
                228,
                229,
                236,
                237,
                246,
                252,
                253,
                254,
                262,
                263,
                272,
                273,
                283,
                288,
                289,
                290,
                303,
                304,
                310,
                311,
                316,
                322,
                323,
                324,
                325,
                342,
                343,
                352,
                353,
                368,
                369,
                378,
                379,
                388,
                389,
                398,
                399,
                408,
                414,
                415,
                416,
                437,
                438,
                441,
                449,
                450,
                461,
                462,
                469,
                475,
                480,
                490,
                491,
                502,
                503,
                512,
                520,
                523,
                526,
                527,
                532,
                533,
                540,
                545,
                546,
                555,
                556,
                565,
                566,
                567,
                568,
                579,
                580,
                589,
                593,
                598,
                599,
                604,
                607,
                608,
                617,
                620,
                621,
                630,
                631,
                652,
                671,
                672,
                684,
                689,
                695,
                696,
                707,
                708,
                715,
                722,
                723,
                728,
                729,
                732,
                737,
                745,
                746,
                755,
                756,
                757,
                762,
                763,
                772,
                782,
                787,
                788,
                798,
                799,
                800,
                817,
                818,
                822,
                838,
                839,
                842,
                843,
                852,
                853,
                856,
                857,
                866,
                867,
                870,
                871,
                882,
                889,
                896,
                897,
                906,
                911,
                912,
                919,
                924,
                925,
                934,
                935,
                936,
                937,
                948,
                949,
                960,
                961,
                962,
                963,
                964,
                974,
                979,
                984,
                994,
                995,
                1021,
                1022,
                1025,
                1026,
                1035,
                1036,
                1059,
                1065,
                1066,
                1075,
                1076,
                1085,
                1090,
                1099,
                1107,
                1108,
                1109,
                1112,
                1113,
                1120,
                1121,
                1132,
                1136,
                1137,
                1150,
                1151,
                1166,
                1171,
                1178,
                1179,
                1191,
                1196,
                1200,
                1202,
                1203,
                1210,
                1224,
                1225,
                1230,
                1231,
                1232,
                1243,
                1244,
                1251,
                1252,
                1253,
                1257,
                1262,
                1263,
                1270,
                1271,
                1272,
                1275,
                1280,
                1281,
                1282,
                1283,
                1296,
                1301,
                1308,
                1309,
                1317,
                1325,
                1330,
                1331,
                1344,
                1349,
                1350,
                1355,
                1356,
                1361,
                1366,
                1386,
                1387,
                1394,
                1395,
                1406,
                1407,
                1412,
                1413,
                1432,
                1433,
                1434,
                1435,
                1440,
                1441,
                1450,
                1451,
                1483,
                1484,
                1487,
                1488,
                1502,
                1503,
                1511,
                1522,
                1523,
                1526,
                1533,
                1536,
                1537,
                1538,
                1547,
                1558,
                1565,
                1566,
                1575,
                1576,
                1579,
                1581,
                1582,
                1583,
                1584,
                1589,
                1590,
                1591,
                1596,
                1605,
                1606,
                1614,
                1615,
                1632,
                1633,
                1645,
                1649,
                1650,
                1659,
                1660,
                1669,
                1670,
                1689,
                1690,
                1706,
                1707,
                1712,
                1726,
                1728,
                1732,
                1738,
                1739,
                1749,
                1750,
                1761,
                1766,
                1771,
                1772,
                1781,
                1786,
                1793,
                1799,
                1800,
                1811,
                1812,
                1821,
                1822,
                1826,
                1827,
                1838,
                1839,
                1858,
                1859,
                1860,
                1861,
                1874,
                1875,
                1878,
                1879,
                1881,
                1886,
                1889,
                1904,
                1908,
                1917,
                1919,
                1929,
                1937,
                1946,
                1947,
                1954,
                1957,
                1962,
                1972,
                1973,
                1979,
                1980,
                1982,
                1983,
                1986,
                1987,
                1995,
                2001,
                2002,
                2006,
                2007,
                2008,
                2009,
                2018,
                2019,
                2020,
                2021,
                2024,
                2033,
                2034,
                2045,
                2046,
                2057,
                2062,
                2073,
                2079,
                2086,
                2091,
                2092,
                2093,
                2094,
                2112,
                2113,
                2131,
                2132,
                2135,
                2136,
                2141,
                2142,
                2153,
                2154,
                2164,
                2165,
                2166,
                2167,
                2168,
                2177,
                2179,
                2183,
                2184,
                2185,
                2190,
                2195,
                2201,
                2205,
                2206,
                2222,
                2235,
                2240,
                2241,
                2242,
                2243,
                2252,
                2253,
                2264,
                2265,
                2278,
                2293,
                2294,
                2299,
                2304,
                2305,
                2314,
                2317,
                2328,
                2330,
                2332,
                2333,
                2345,
                2346,
                2347,
                2353,
                2354,
                2355,
                2365,
                2366,
                2375,
                2376,
                2379,
                2384,
                2392,
                2397,
                2398,
                2415,
                2416,
                2429,
                2435,
                2444,
                2445,
                2454,
                2457,
                2458,
                2459,
                2468,
                2469,
                2474,
                2475,
                2476,
                2477,
                2480,
                2481,
                2487,
                2488,
                2490,
                2493,
                2498,
                2503,
                2511,
                2512,
                2514,
                2515,
                2522,
                2531,
                2535,
                2536,
                2537,
                2543,
                2552,
                2553,
                2570,
                2574,
                2575,
                2577,
                2581,
                2582,
                2595,
                2596,
                2600,
                2601,
                2602,
                2603,
                2604,
                2611,
                2612,
                2629,
                2630,
                2631,
                2632,
                2642,
                2647,
                2652,
                2657,
                2663,
                2665,
                2666,
                2684,
                2685,
                2698,
                2699,
                2712,
                2713,
                2716,
                2721,
                2722,
                2723,
                2739,
                2744,
                2747,
                2755,
                2756,
                2772,
                2773,
                2783,
                2784,
                2786,
                2794,
                2800,
                2804,
                2805,
                2816,
                2821
            ],
            "secondary_element_owned_by": [
                123,
                133,
                237,
                312,
                314,
                326,
                330,
                334,
                338,
                351,
                369,
                380,
                381,
                408,
                450,
                480,
                491,
                527,
                568,
                606,
                652,
                672,
                692,
                696,
                715,
                732,
                741,
                746,
                758,
                774,
                800,
                810,
                813,
                814,
                822,
                857,
                892,
                893,
                919,
                939,
                983,
                993,
                994,
                1010,
                1014,
                1018,
                1028,
                1066,
                1091,
                1092,
                1099,
                1109,
                1116,
                1121,
                1139,
                1151,
                1176,
                1191,
                1200,
                1207,
                1209,
                1210,
                1220,
                1232,
                1253,
                1256,
                1257,
                1268,
                1281,
                1283,
                1296,
                1302,
                1317,
                1331,
                1339,
                1350,
                1407,
                1413,
                1425,
                1433,
                1458,
                1478,
                1482,
                1484,
                1494,
                1503,
                1511,
                1533,
                1536,
                1552,
                1554,
                1555,
                1557,
                1584,
                1586,
                1588,
                1606,
                1612,
                1615,
                1646,
                1648,
                1654,
                1668,
                1672,
                1676,
                1707,
                1713,
                1731,
                1732,
                1743,
                1746,
                1747,
                1754,
                1756,
                1782,
                1783,
                1786,
                1798,
                1801,
                1802,
                1832,
                1833,
                1837,
                1841,
                1857,
                1881,
                1887,
                1888,
                1901,
                1921,
                1938,
                1941,
                1950,
                1951,
                1954,
                1983,
                2011,
                2012,
                2013,
                2020,
                2021,
                2024,
                2040,
                2050,
                2055,
                2059,
                2073,
                2078,
                2079,
                2086,
                2099,
                2100,
                2105,
                2113,
                2128,
                2130,
                2133,
                2140,
                2165,
                2168,
                2180,
                2185,
                2194,
                2226,
                2240,
                2265,
                2267,
                2271,
                2288,
                2289,
                2295,
                2296,
                2314,
                2323,
                2330,
                2340,
                2343,
                2357,
                2372,
                2376,
                2378,
                2388,
                2390,
                2410,
                2422,
                2441,
                2465,
                2469,
                2477,
                2496,
                2498,
                2501,
                2503,
                2510,
                2513,
                2516,
                2517,
                2518,
                2519,
                2520,
                2523,
                2524,
                2530,
                2534,
                2555,
                2565,
                2596,
                2606,
                2614,
                2616,
                2624,
                2641,
                2657,
                2662,
                2697,
                2722,
                2739,
                2748,
                2777,
                2800,
                2803,
                2806,
                2816,
                2824,
                2833
            ]
        }

<!---
### View all Element [GET /type/{?offset,limit}]

+ Parameters
    + offset (integer, optional) - ID of the first Element to be returned
        + Default: 0
    + limit (integer, optional) - Number of Element to return
        + Default: 10 

+ Response 200 (application/json)

        {
            "element": [
                {
                    "id": 1,
                    "name": "Fire",
                    "primary_element_owned_by": [
                        2800,
                        2804,
                        2805
                    ],
                    "secondary_element_owned_by": [
                        2800,
                        2803,
                        2806
                    ]
                },
                {
                    "id": 2,
                    "name": "Water",
                    "primary_element_owned_by": [
                        2730,
                        2731,
                        2748
                    ],
                    "secondary_element_owned_by": [
                        2745,
                        2749,
                        2751
                    ]
                },
                {
                    "id": 3,
                    "name": "Wood",
                    "primary_element_owned_by": [
                        2810,
                        2811,
                        2814
                    ],
                    "secondary_element_owned_by": [
                        2750,
                        2775,
                        2782
                    ]
                }
            ],
            "total_element": 5
        }
--->

## Monster [/monster/{monster_id}]

### View a Monster [GET]

+ Parameters
    + monster_id (integer) - ID of a Monster

+ Response 200 (application/json)

        {
            "id": 2441,
            "name": "Judging-Claw Orange Dragonbound, Saria",
            "rarity": 6,
            "primary_type": 1,
            "secondary_type": 3,
            "ternary_type": null,
            "primary_element": 4,
            "secondary_element": 1,
            "team_cost": 50,
            "sells_for_monster_points": 15000,
            "min_lvl": 1,
            "max_lvl": 99,
            "min_hp": 1647,
            "max_hp": 4118,
            "min_atk": 607,
            "max_atk": 1518,
            "min_rcv": 48,
            "max_rcv": 120,
            "min_sell_value": 870,
            "max_sell_value": 86130,
            "min_exp_feed": 2100,
            "max_exp_feed": 207900,
            "exp_needed": 5000000,
            "evolves_to": [ ],
            "evolves_from": 2440,
            "evolution_chain": [
                286
            ],
            "monster_series": 54,
            "active_skill": 1567,
            "leader_skill": 2169,
            "awoken_skills": [
                27,
                27,
                29,
                23,
                21
            ],
            "dropped_in_dungeons": [ ],
            "img": "Not available",
            "thmb": "Not available"
        }

<!---
### View all Monster [GET /monster/{?offset,limit}]

+ Parameters
    + offset (integer, optional) - ID of the first Monster to be returned
        + Default: 0
    + limit (integer, optional) - Number of Monster to return
        + Default: 10 
        
+ Response 200 (application/json)

        {
            "monsters": [
                {
                    "id": 2441,
                    "name": "Judging-Claw Orange Dragonbound, Saria",
                    "rarity": 6,
                    "primary_type": 1,
                    "secondary_type": 3,
                    "ternary_type": null,
                    "primary_element": 4,
                    "secondary_element": 1,
                    "team_cost": 50,
                    "sells_for_monster_points": 15000,
                    "min_lvl": 1,
                    "max_lvl": 99,
                    "min_hp": 1647,
                    "max_hp": 4118,
                    "min_atk": 607,
                    "max_atk": 1518,
                    "min_rcv": 48,
                    "max_rcv": 120,
                    "min_sell_value": 870,
                    "max_sell_value": 86130,
                    "min_exp_feed": 2100,
                    "max_exp_feed": 207900,
                    "exp_needed": 5000000,
                    "evolves_to": [],
                    "evolves_from": 2440,
                    "evolution_chain": 301,
                    "monster_series": 54,
                    "active_skill": 1567,
                    "leader_skill": 2169,
                    "awoken_skills": [
                        27,
                        27,
                        29,
                        23,
                        21
                    ],
                    "dropped_in_dungeons": [],
                    "img": "/img/2441.png",
                    "thmb": "/thmb/2441.png"
                },
                {
                    "id": 2442,
                    "name": "Blue Dragonbound, Ryune",
                    "rarity": 6,
                    "primary_type": 1,
                    "secondary_type": null,
                    "ternary_type": null,
                    "primary_element": 2,
                    "secondary_element": null,
                    "team_cost": 40,
                    "sells_for_monster_points": 50000,
                    "min_lvl": 1,
                    "max_lvl": 50,
                    "min_hp": 712,
                    "max_hp": 1709,
                    "min_atk": 352,
                    "max_atk": 845,
                    "min_rcv": 38,
                    "max_rcv": 91,
                    "min_sell_value": 720,
                    "max_sell_value": 36000,
                    "min_exp_feed": 1725,
                    "max_exp_feed": 86250,
                    "exp_needed": 5000000,
                    "evolves_to": [
                        2443
                    ],
                    "evolves_from": null,
                    "evolution_chain": 300,
                    "monster_series": 54,
                    "active_skill": 1568,
                    "leader_skill": 2170,
                    "awoken_skills": [],
                    "dropped_in_dungeons": [],
                    "img": "/img/2441.png",
                    "thmb": "/thmb/2441.png"
                }
            ],
            "total_monsters": 2
        }
--->

## Dungeon [/dungeon/{dungeon_id}]

### View a Dungeon [GET]

+ Parameters
    + dungeon_id (integer) - ID of a Dungeon

+ Response 200 (application/json)

        {
           "id":1925,
           "name":"Hall of Gift Dragons - Legend",
           "random_encounters":[ ],
           "major_floors":[
              {
                 "floor_number":1,
                 "dungeon":1925,
                 "encounter":[
                    {
                       "common_id":2572,
                       "name":"Baby PreDRA",
                       "hit_points":10,
                       "attack":100,
                       "defense":50000,
                       "turn":1,
                       "quantity":3,
                       "drop":[
                          2572
                       ],
                       "moves":[ ],
                       "memo":null
                    }
                 ],
                 "memos":[ ]
              },
              {
                 "floor_number":2,
                 "dungeon":1925,
                 "encounter":[
                    {
                       "common_id":2572,
                       "name":"Baby PreDRA",
                       "hit_points":10,
                       "attack":100,
                       "defense":50000,
                       "turn":1,
                       "quantity":2,
                       "drop":[
                          2572
                       ],
                       "moves":[ ],
                       "memo":null
                    },
                    {
                       "common_id":2299,
                       "name":"Fire PreDRA",
                       "hit_points":25,
                       "attack":3000,
                       "defense":10000000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2299
                       ],
                       "moves":[ ],
                       "memo":null
                    },
                    {
                       "common_id":2301,
                       "name":"Wood PreDRA",
                       "hit_points":25,
                       "attack":3000,
                       "defense":10000000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2301
                       ],
                       "moves":[ ],
                       "memo":null
                    },
                    {
                       "common_id":2302,
                       "name":"Light PreDRA",
                       "hit_points":25,
                       "attack":3000,
                       "defense":10000000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2302
                       ],
                       "moves":[ ],
                       "memo":null
                    },
                    {
                       "common_id":2303,
                       "name":"Dark PreDRA",
                       "hit_points":25,
                       "attack":3000,
                       "defense":10000000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2303
                       ],
                       "moves":[ ],
                       "memo":null
                    },
                    {
                       "common_id":2300,
                       "name":"Water PreDRA",
                       "hit_points":25,
                       "attack":3000,
                       "defense":10000000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2300
                       ],
                       "moves":[ ],
                       "memo":null
                    }
                 ],
                 "memos":[
                    "Random 3 will appear. 2572 are fixed spawns. Then random 1 from 2299 , 2300 , 2301 , 2302 or 2303"
                 ]
              },
              {
                 "floor_number":3,
                 "dungeon":1925,
                 "encounter":[
                    {
                       "common_id":2216,
                       "name":"Latent TAMADRA (Dark Dmg. Red.)",
                       "hit_points":30,
                       "attack":null,
                       "defense":600000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2216
                       ],
                       "moves":[
                          {
                             "name":"Pleased to meet you-TAMA!",
                             "attack":null,
                             "attack_condition":"",
                             "effect":"Increases cooldown of active skills by 2 turns",
                             "move_types":[
                                1,
                                24
                             ]
                          },
                          {
                             "name":"TAMA!",
                             "attack":10370,
                             "attack_condition":"100% Chance. ",
                             "effect":"Deal 1000% damage",
                             "move_types":[
                                2
                             ]
                          }
                       ],
                       "memo":null
                    },
                    {
                       "common_id":2210,
                       "name":"Latent TAMADRA (Auto-Heal)",
                       "hit_points":30,
                       "attack":null,
                       "defense":600000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2210
                       ],
                       "moves":[
                          {
                             "name":"Pleased to meet you-TAMA!",
                             "attack":null,
                             "attack_condition":"",
                             "effect":"Increases cooldown of active skills by 2 turns",
                             "move_types":[
                                1,
                                24
                             ]
                          },
                          {
                             "name":"TAMA!",
                             "attack":10370,
                             "attack_condition":"100% Chance. ",
                             "effect":"Deal 1000% damage",
                             "move_types":[
                                2
                             ]
                          }
                       ],
                       "memo":null
                    },
                    {
                       "common_id":2212,
                       "name":"Latent TAMADRA (Fire Dmg. Red.)",
                       "hit_points":30,
                       "attack":null,
                       "defense":600000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2212
                       ],
                       "moves":[
                          {
                             "name":"Pleased to meet you-TAMA!",
                             "attack":null,
                             "attack_condition":"",
                             "effect":"Increases cooldown of active skills by 2 turns",
                             "move_types":[
                                1,
                                24
                             ]
                          },
                          {
                             "name":"TAMA!",
                             "attack":10370,
                             "attack_condition":"100% Chance. ",
                             "effect":"Deal 1000% damage",
                             "move_types":[
                                2
                             ]
                          }
                       ],
                       "memo":null
                    },
                    {
                       "common_id":2211,
                       "name":"Latent TAMADRA (Ext. Move Time)",
                       "hit_points":30,
                       "attack":null,
                       "defense":600000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2211
                       ],
                       "moves":[
                          {
                             "name":"Pleased to meet you-TAMA!",
                             "attack":null,
                             "attack_condition":"",
                             "effect":"Increases cooldown of active skills by 2 turns",
                             "move_types":[
                                1,
                                24
                             ]
                          },
                          {
                             "name":"TAMA!",
                             "attack":10370,
                             "attack_condition":"100% Chance. ",
                             "effect":"Deal 1000% damage",
                             "move_types":[
                                2
                             ]
                          }
                       ],
                       "memo":null
                    },
                    {
                       "common_id":2207,
                       "name":"Latent TAMADRA (Imp. HP)",
                       "hit_points":30,
                       "attack":null,
                       "defense":600000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2207
                       ],
                       "moves":[
                          {
                             "name":"Pleased to meet you-TAMA!",
                             "attack":null,
                             "attack_condition":"",
                             "effect":"Increases cooldown of active skills by 2 turns",
                             "move_types":[
                                1,
                                24
                             ]
                          },
                          {
                             "name":"TAMA!",
                             "attack":10370,
                             "attack_condition":"100% Chance. ",
                             "effect":"Deal 1000% damage",
                             "move_types":[
                                2
                             ]
                          }
                       ],
                       "memo":null
                    },
                    {
                       "common_id":2209,
                       "name":"Latent TAMADRA (Imp. RCV)",
                       "hit_points":30,
                       "attack":null,
                       "defense":600000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2209
                       ],
                       "moves":[
                          {
                             "name":"Pleased to meet you-TAMA!",
                             "attack":null,
                             "attack_condition":"",
                             "effect":"Increases cooldown of active skills by 2 turns",
                             "move_types":[
                                1,
                                24
                             ]
                          },
                          {
                             "name":"TAMA!",
                             "attack":10370,
                             "attack_condition":"100% Chance. ",
                             "effect":"Deal 1000% damage",
                             "move_types":[
                                2
                             ]
                          }
                       ],
                       "memo":null
                    },
                    {
                       "common_id":2213,
                       "name":"Latent TAMADRA (Water Dmg. Red.)",
                       "hit_points":30,
                       "attack":null,
                       "defense":600000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2213
                       ],
                       "moves":[
                          {
                             "name":"Pleased to meet you-TAMA!",
                             "attack":null,
                             "attack_condition":"",
                             "effect":"Increases cooldown of active skills by 2 turns",
                             "move_types":[
                                1,
                                24
                             ]
                          },
                          {
                             "name":"TAMA!",
                             "attack":10370,
                             "attack_condition":"100% Chance. ",
                             "effect":"Deal 1000% damage",
                             "move_types":[
                                2
                             ]
                          }
                       ],
                       "memo":null
                    },
                    {
                       "common_id":2215,
                       "name":"Latent TAMADRA (Light Dmg. Red.)",
                       "hit_points":30,
                       "attack":null,
                       "defense":600000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2215
                       ],
                       "moves":[
                          {
                             "name":"Pleased to meet you-TAMA!",
                             "attack":null,
                             "attack_condition":"",
                             "effect":"Increases cooldown of active skills by 2 turns",
                             "move_types":[
                                1,
                                24
                             ]
                          },
                          {
                             "name":"TAMA!",
                             "attack":10370,
                             "attack_condition":"100% Chance. ",
                             "effect":"Deal 1000% damage",
                             "move_types":[
                                2
                             ]
                          }
                       ],
                       "memo":null
                    },
                    {
                       "common_id":2208,
                       "name":"Latent TAMADRA (Imp. ATK)",
                       "hit_points":30,
                       "attack":null,
                       "defense":600000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2208
                       ],
                       "moves":[
                          {
                             "name":"Pleased to meet you-TAMA!",
                             "attack":null,
                             "attack_condition":"",
                             "effect":"Increases cooldown of active skills by 2 turns",
                             "move_types":[
                                1,
                                24
                             ]
                          },
                          {
                             "name":"TAMA!",
                             "attack":10370,
                             "attack_condition":"100% Chance. ",
                             "effect":"Deal 1000% damage",
                             "move_types":[
                                2
                             ]
                          }
                       ],
                       "memo":null
                    },
                    {
                       "common_id":2214,
                       "name":"Latent TAMADRA (Wood Dmg. Red.)",
                       "hit_points":30,
                       "attack":null,
                       "defense":600000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2214
                       ],
                       "moves":[
                          {
                             "name":"Pleased to meet you-TAMA!",
                             "attack":null,
                             "attack_condition":"",
                             "effect":"Increases cooldown of active skills by 2 turns",
                             "move_types":[
                                1,
                                24
                             ]
                          },
                          {
                             "name":"TAMA!",
                             "attack":10370,
                             "attack_condition":"100% Chance. ",
                             "effect":"Deal 1000% damage",
                             "move_types":[
                                2
                             ]
                          }
                       ],
                       "memo":null
                    }
                 ],
                 "memos":[
                    "Random 1 will appear"
                 ]
              },
              {
                 "floor_number":4,
                 "dungeon":1925,
                 "encounter":[
                    {
                       "common_id":2572,
                       "name":"Baby PreDRA",
                       "hit_points":10,
                       "attack":100,
                       "defense":50000,
                       "turn":1,
                       "quantity":2,
                       "drop":[
                          2572
                       ],
                       "moves":[ ],
                       "memo":null
                    },
                    {
                       "common_id":2302,
                       "name":"Light PreDRA",
                       "hit_points":25,
                       "attack":3000,
                       "defense":10000000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2302
                       ],
                       "moves":[ ],
                       "memo":null
                    },
                    {
                       "common_id":2300,
                       "name":"Water PreDRA",
                       "hit_points":25,
                       "attack":3000,
                       "defense":10000000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2300
                       ],
                       "moves":[ ],
                       "memo":null
                    },
                    {
                       "common_id":2299,
                       "name":"Fire PreDRA",
                       "hit_points":25,
                       "attack":3000,
                       "defense":10000000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2299
                       ],
                       "moves":[ ],
                       "memo":null
                    },
                    {
                       "common_id":2301,
                       "name":"Wood PreDRA",
                       "hit_points":25,
                       "attack":3000,
                       "defense":10000000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2301
                       ],
                       "moves":[ ],
                       "memo":null
                    },
                    {
                       "common_id":2303,
                       "name":"Dark PreDRA",
                       "hit_points":25,
                       "attack":3000,
                       "defense":10000000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2303
                       ],
                       "moves":[ ],
                       "memo":null
                    }
                 ],
                 "memos":[
                    "Random 3 will appear. 2572 are fixed spawns. Then random 1 from 2299 , 2300 , 2301 , 2302 or 2303"
                 ]
              },
              {
                 "floor_number":5,
                 "dungeon":1925,
                 "encounter":[
                    {
                       "common_id":2209,
                       "name":"Latent TAMADRA (Imp. RCV)",
                       "hit_points":30,
                       "attack":null,
                       "defense":600000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2209
                       ],
                       "moves":[
                          {
                             "name":"Pleased to meet you-TAMA!",
                             "attack":null,
                             "attack_condition":"",
                             "effect":"Increases cooldown of active skills by 2 turns",
                             "move_types":[
                                1,
                                24
                             ]
                          },
                          {
                             "name":"TAMA!",
                             "attack":10370,
                             "attack_condition":"100% Chance. ",
                             "effect":"Deal 1000% damage",
                             "move_types":[
                                2
                             ]
                          }
                       ],
                       "memo":null
                    },
                    {
                       "common_id":2213,
                       "name":"Latent TAMADRA (Water Dmg. Red.)",
                       "hit_points":30,
                       "attack":null,
                       "defense":600000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2213
                       ],
                       "moves":[
                          {
                             "name":"Pleased to meet you-TAMA!",
                             "attack":null,
                             "attack_condition":"",
                             "effect":"Increases cooldown of active skills by 2 turns",
                             "move_types":[
                                1,
                                24
                             ]
                          },
                          {
                             "name":"TAMA!",
                             "attack":10370,
                             "attack_condition":"100% Chance. ",
                             "effect":"Deal 1000% damage",
                             "move_types":[
                                2
                             ]
                          }
                       ],
                       "memo":null
                    },
                    {
                       "common_id":2214,
                       "name":"Latent TAMADRA (Wood Dmg. Red.)",
                       "hit_points":30,
                       "attack":null,
                       "defense":600000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2214
                       ],
                       "moves":[
                          {
                             "name":"Pleased to meet you-TAMA!",
                             "attack":null,
                             "attack_condition":"",
                             "effect":"Increases cooldown of active skills by 2 turns",
                             "move_types":[
                                1,
                                24
                             ]
                          },
                          {
                             "name":"TAMA!",
                             "attack":10370,
                             "attack_condition":"100% Chance. ",
                             "effect":"Deal 1000% damage",
                             "move_types":[
                                2
                             ]
                          }
                       ],
                       "memo":null
                    },
                    {
                       "common_id":2211,
                       "name":"Latent TAMADRA (Ext. Move Time)",
                       "hit_points":30,
                       "attack":null,
                       "defense":600000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2211
                       ],
                       "moves":[
                          {
                             "name":"Pleased to meet you-TAMA!",
                             "attack":null,
                             "attack_condition":"",
                             "effect":"Increases cooldown of active skills by 2 turns",
                             "move_types":[
                                1,
                                24
                             ]
                          },
                          {
                             "name":"TAMA!",
                             "attack":10370,
                             "attack_condition":"100% Chance. ",
                             "effect":"Deal 1000% damage",
                             "move_types":[
                                2
                             ]
                          }
                       ],
                       "memo":null
                    },
                    {
                       "common_id":2212,
                       "name":"Latent TAMADRA (Fire Dmg. Red.)",
                       "hit_points":30,
                       "attack":null,
                       "defense":600000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2212
                       ],
                       "moves":[
                          {
                             "name":"Pleased to meet you-TAMA!",
                             "attack":null,
                             "attack_condition":"",
                             "effect":"Increases cooldown of active skills by 2 turns",
                             "move_types":[
                                1,
                                24
                             ]
                          },
                          {
                             "name":"TAMA!",
                             "attack":10370,
                             "attack_condition":"100% Chance. ",
                             "effect":"Deal 1000% damage",
                             "move_types":[
                                2
                             ]
                          }
                       ],
                       "memo":null
                    },
                    {
                       "common_id":2210,
                       "name":"Latent TAMADRA (Auto-Heal)",
                       "hit_points":30,
                       "attack":null,
                       "defense":600000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2210
                       ],
                       "moves":[
                          {
                             "name":"Pleased to meet you-TAMA!",
                             "attack":null,
                             "attack_condition":"",
                             "effect":"Increases cooldown of active skills by 2 turns",
                             "move_types":[
                                1,
                                24
                             ]
                          },
                          {
                             "name":"TAMA!",
                             "attack":10370,
                             "attack_condition":"100% Chance. ",
                             "effect":"Deal 1000% damage",
                             "move_types":[
                                2
                             ]
                          }
                       ],
                       "memo":null
                    },
                    {
                       "common_id":2207,
                       "name":"Latent TAMADRA (Imp. HP)",
                       "hit_points":30,
                       "attack":null,
                       "defense":600000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2207
                       ],
                       "moves":[
                          {
                             "name":"Pleased to meet you-TAMA!",
                             "attack":null,
                             "attack_condition":"",
                             "effect":"Increases cooldown of active skills by 2 turns",
                             "move_types":[
                                1,
                                24
                             ]
                          },
                          {
                             "name":"TAMA!",
                             "attack":10370,
                             "attack_condition":"100% Chance. ",
                             "effect":"Deal 1000% damage",
                             "move_types":[
                                2
                             ]
                          }
                       ],
                       "memo":null
                    },
                    {
                       "common_id":2208,
                       "name":"Latent TAMADRA (Imp. ATK)",
                       "hit_points":30,
                       "attack":null,
                       "defense":600000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2208
                       ],
                       "moves":[
                          {
                             "name":"Pleased to meet you-TAMA!",
                             "attack":null,
                             "attack_condition":"",
                             "effect":"Increases cooldown of active skills by 2 turns",
                             "move_types":[
                                1,
                                24
                             ]
                          },
                          {
                             "name":"TAMA!",
                             "attack":10370,
                             "attack_condition":"100% Chance. ",
                             "effect":"Deal 1000% damage",
                             "move_types":[
                                2
                             ]
                          }
                       ],
                       "memo":null
                    },
                    {
                       "common_id":2216,
                       "name":"Latent TAMADRA (Dark Dmg. Red.)",
                       "hit_points":30,
                       "attack":null,
                       "defense":600000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2216
                       ],
                       "moves":[
                          {
                             "name":"Pleased to meet you-TAMA!",
                             "attack":null,
                             "attack_condition":"",
                             "effect":"Increases cooldown of active skills by 2 turns",
                             "move_types":[
                                1,
                                24
                             ]
                          },
                          {
                             "name":"TAMA!",
                             "attack":10370,
                             "attack_condition":"100% Chance. ",
                             "effect":"Deal 1000% damage",
                             "move_types":[
                                2
                             ]
                          }
                       ],
                       "memo":null
                    },
                    {
                       "common_id":2215,
                       "name":"Latent TAMADRA (Light Dmg. Red.)",
                       "hit_points":30,
                       "attack":null,
                       "defense":600000,
                       "turn":1,
                       "quantity":1,
                       "drop":[
                          2215
                       ],
                       "moves":[
                          {
                             "name":"Pleased to meet you-TAMA!",
                             "attack":null,
                             "attack_condition":"",
[...]
